In [1]:
import pandas as pd

In [2]:
url = "https://drive.google.com/uc?id=17YBlvt8l0S0WQWEhpW7DsuXATe3plgFB"
df = pd.read_csv(url)
df.head()

   customer_id  age gender            email  purchases
0         1001   35      M  abc@example.com       10.0
1         1002   28      F  def@example.com        5.0
2         1003   40      F  ghi@example.com        NaN
3         1004   45      M  jkl@example.com        8.0
4         1005   33      M  mno@example.com       15.0

In [3]:
df['customer_id'].unique()

array([1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009], dtype=int64)

In [4]:
df['purchases'].unique()

array([10.,  5., nan,  8., 15., 12.,  7.,  9.])

In [5]:
df['purchases'].fillna(0, inplace=True)

In [6]:
avg_purchases_by_gender = df.groupby('gender')['purchases'].mean()
avg_purchases_by_gender

gender
F     4.20
M    11.25
Name: purchases, dtype: float64